{% include 'header.html' with {'session': session} %}
<h2>{{ header }}</h2>
  <table class="tasks table table-dark">
    <tr>
         <td>Описание задачи</td>
        <td>Кто поставил задачу</td>
        <td>Ответственный</td>
        <td>Статус</td>
        <td>Дата добавления</td>
    </tr>
         {% for  task in tasks %}
            <tr>
            <td>{{ task.task_description }}</td>
            <td>{{ task.owner_login }}</td>
            <td>{{ task.responsible_login }}</td>
            <td> {% if task.status == 1 %}  Выполнено
                  {% else %}  Не выполено
                  {% endif %}
            </td>
            <td>{{ task.date_added }} </td>
            </tr>
        {% endfor %}
  </table>
   {% if can_add_task == 1 %} 
    <h2>Добавить задачу</h2>
     <form action="index.php?c=task&a=add&id={{ session }}" method="post" id="new_task">
        <input type="text" name="description" placeholder="Описание задачи" required> <button class="btn btn-primary" type="submit"  form="new_task">Добавить задачу</button>
     </form>
{% endif %}