{% include 'header.html' with {'session': session} %}
<h2>{{ header }}</h2>
{% if autorization == 1 %} 
    <form action="index.php?c=user&a=autorize" method="post" id="form1">    
{% else %}
    <form action="index.php?c=user&a=register" method="post" id="form1">   
{% endif %}
    <input type="text" name="user_login" placeholder="Ваш логин" required>
    <input type="password" name="user_passwd"  placeholder="Ваш пароль" required>
   <button class="btn btn-primary" type="submit"  form="form1">{{ button }}</button>
 </form>
