{% include 'header.html' with {'session': session} %}
<h2>{{ header }}</h2>
  <table class="tasks table table-dark">
    <tr>
        <td>Номер задачи</td>
        <td>Описание задачи</td>
        <td>Кто поставил задачу</td>
        <td>Ответственный</td>
        <td>Статус</td>
        <td>Дата добавления</td>
        <td>Изменить</td>
    </tr>
         {% for task in tasks %}
            <tr>
            {% if task.owner_id == session %} 
              <form method="post" action="index.php?c=task&a=updateResponsibleAndStatus&id={{ session }}">
              {% else %}
              <form method="post" action="index.php?c=task&a=updateStatus&id={{ session }}">
            {% endif %}
                <input type="hidden" name="task_id" value="{{ task.task_id }}">
                <td>{{ task.task_id }}</td>
                <td>{{ task.task_description }}</td>
                <td>{{ task.owner_login }}</td>
                {% if task.owner_id == session %} 
                     <td><input type="hidden" name="assigned_user_id" value="{{ task.assigned_user_id }}">
                    <select name="assigned_user_id">
                        <option value="{{ task.assigned_user_id }}">{{ task.responsible_login }}</option>
                        {% for user  in all_users %}
                        <option value="{{ user.user_id }}">{{ user.owner_login }}</option>
                       {% endfor %}
                    </select>
                 {% else %}
                     <td>{{ task.responsible_login }}</td>
                {% endif %}
                <td>
                <select name="status">
                 {% if task.status == 1 %} 
                        <option value="0">Не выполено</option>
                        <option value="1" selected>Выполнено</option>
                  {% else %} 
                        <option value="0" selected>Не выполено</option>
                        <option value="1" >Выполнено</option>
                 {% endif %}
                </select>
                 </td>
                <td>{{ task.date_added }}</td>
                <td><button class="btn btn-secondary" type="submit" name="update">Изменить</button></td>
             </form>
            </tr>
           {% endfor %}
  </table>
   {% if can_add_task == 1 %} 
    <h2>Добавить задачу</h2>
     <form action="index.php?c=task&a=add&id={{ session }}" method="post" id="new_task">
        <input type="text" name="description" placeholder="Описание задачи" required> <button class="btn btn-primary" type="submit"  form="new_task">Добавить задачу</button>
     </form>
 {% endif %}